<%- include('../includes/head.ejs') %>


<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <%if (products.length>0) {%>
        <ul>
            <% products.forEach((p) =>{ %>
            <p> 
                <li><%= p.title %> ( <%= p.price %> * <%= p.cartItem.quantity %> )</li>
            </p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%=p.id%>" name="productId">
                <button type="submit" class="btn" >Delete</button>
            </form>
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now</button>
            </form>
            <% }) %>
        </ul>
        <!-- <div> Total Price: $<%=totalPrice%></div> -->


        <%} else {%>
        <div>Add something poor soul</div>
        <%}%>
        
    </main>
<%- include('../includes/end.ejs') %>