<%- include('../includes/head.ejs') %>


<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%if (products.length>0) {%>
        <ul>
            <% products.forEach((p) =>{ %>
            <p> 
                <li><%= p.productData.title %> (Qty: <%= p.qty %> )</li>
            </p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%=p.productData.id%>" name="productId">
                <button type="submit" class="btn" >Delete</button>
            </form>
            <% }) %>
        </ul>


        <%} else {%>
        <div>Add something poor soul</div>
        <%}%>
        
    </main>
<%- include('../includes/end.ejs') %>