<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header">
                    <div class="product__title__main">
                        <%=product.title %>
                    </div>
                    <div class="card__image">
                        <img src="<%= product.imagelink %>" alt="">
                    </div>
                    <div class="card__content">
                        <div class="product__price"> $ <%=product.price %> </div>
                        <p class="product__description"> <%=product.description %> </p>
                    </div>
                    <div class="card__actions">
                        <a href="/products/<%=product.id%>"> <button class="btn"> Details</button></a>
                        <%-include('../includes/add-to-cart.ejs',{product:product})%>
                    </div>
                </header>
            </article>
            <% } %>
        </div>
        <% } else {%>
        <h1>No Product to display</h1>
        <% } %>
    </main>
<%- include("../includes/end.ejs") %>